

div{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    margin: 1.5em;
}

.disabled{
    background-color: gray;

}

.columns{
    margin: 1.5em;
}